* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v2_984 {
  width: 393px;
  height: 812px;
  background: rgba(246,88,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v16_128 {
  width: 393px;
  height: 305px;
  background: rgba(151,0,0,1);
  opacity: 1;
  position: absolute;
  top: 542px;
  left: 0px;
  overflow: hidden;
}
.v17_136 {
  width: 393px;
  height: 330px;
  background: rgba(151,0,0,1);
  opacity: 1;
  position: absolute;
  top: 555px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 18px 18px 18px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.name {
  color: #fff;
}
.v16_120 {
  width: 222px;
  color: rgba(144,3,3,1);
  position: absolute;
  top: 61px;
  left: 85px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v16_125 {
  width: 222px;
  color: rgba(252,252,252,1);
  position: absolute;
  top: 610px;
  left: 85px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v16_129 {
  width: 389px;
  height: 383px;
  background: url("../images/v16_129.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 189px;
  left: 3px;
  overflow: hidden;
}
.v16_130 {
  width: 346px;
  height: 269px;
  background: rgba(251,223,105,0.20999999344348907);
  opacity: 1;
  position: absolute;
  top: 307px;
  left: 367px;
}
.v16_131 {
  width: 29px;
  height: 23px;
  background: rgba(248,153,69,1);
  opacity: 1;
  position: absolute;
  top: 98px;
  left: 282px;
}
.v16_132 {
  width: 59px;
  height: 44px;
  background: rgba(251,223,105,0.20999999344348907);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 72px;
}
.v16_133 {
  width: 80px;
  height: 44px;
  background: rgba(251,223,105,0.20999999344348907);
  opacity: 1;
  position: absolute;
  top: 352px;
  left: 302px;
  transform: rotate(-45deg);
}
.v16_134 {
  width: 13px;
  height: 16px;
  background: rgba(255,51,51,1);
  opacity: 1;
  position: absolute;
  top: 303px;
  left: 254px;
}
.v16_135 {
  width: 309px;
  height: 210px;
  background: url("../images/v16_135.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 263px;
  left: 44px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v16_124 {
  width: 133px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 748px;
  left: 130px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
